node_modules
bun.lockb
dist
build
game/build-*
*.tsbuildinfo
.claude
.omc
apps/web/public/sr.*
game/assets/maps/*.sr
apps/web/public/trails/*/settings.trail
apps/web/public/trails/*/*.png
.DS_Store
*.log
.env
.env.local
.vite
apps/server/leaderboard.db*
.vscode
.idea
